*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
    scroll-behavior: smooth;
}

body {
    margin: var(--margin);
    font-family: var(--font-family-body);
    font-size: 1rem;
    color: var(--color-light);
    background-color: var(--color-dark);
}

img:not([src$=".svg"]) {
    filter: grayscale(100%);
}



h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-height-h1);
    line-height: var(--font-line-height-h1);
    font-weight: var(--font-weight-bold);
    color: var(--color-light);
}

h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-height-h2);
    line-height: var(--font-line-height-h2);
    font-weight: var(--font-weight-bold);
    color: var(--color-light);
}

h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-height-h3);
    line-height: var(--font-line-height-h3);
    font-weight: var(--font-weight-bold);
    color: var(--color-light);
}

a {
    color: var(--color-red);
}

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.u-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.u-sr-only {
    position: absolute !important;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

    clip-path: inset(50%);
    clip: rect(0 0 0 0);
}

.u-noscroll {
    overflow: hidden;
}