.article {
    margin-left: var(--margin);
}

.article__hero {
    position: relative;
    min-height: 100vh;
    padding-top: 4.375rem;
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    overflow: hidden;
}

.article__hero--illu {
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 20.25rem;
    height: 29.9375rem;
    object-fit: cover;
    object-position: left center;
    border-radius: 16.5625rem 0 0 16.5625rem;
    display: block;
    z-index: 2;
}

.article__hero::before {
    content: '';
    position: absolute;
    top: 4.5rem;
    right: 0.625rem;
    width: 18.6875rem;
    height: 23.0625rem;
    background-color: var(--color-red);
    border-radius: 16.5625rem 0 0 16.5625rem;
    z-index: 1;
}

.article__title {
    position: relative;
    margin-top: 28rem;
    margin-bottom: 0;
    color: var(--color-red);
    z-index: 3;
    max-width: 60%;
    font-size: var(--font-height-h2);
    line-height: 1;
}

.article__legend {
    position: relative;
    margin-top: 0.5rem;
    color: var(--color-light);
    z-index: 3;
    max-width: 60%;
    font-size: var(--font-height-lgd);
}

.article__chapo {
    position: relative;
    margin-bottom: var(--spc-mid);
    color: var(--color-light);
    z-index: 3;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-height-h3);
}

.article__text {
    margin-bottom: var(--spc-s);
}

.article__list {
    margin-bottom: var(--spc-s);
}

.article__illu {
    margin-top: var(--spc-mid);
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid var(--color-red);
    border-bottom: 2px solid var(--color-red);
    width: 21.25rem;
    height: auto;
}

.article__illu--photo {
    width: 100%;
    height: auto;
}

.article__illu--legend {
    font-size: var(--font-height-lgd);
    color: var(--color-light);
    margin-top: -0.5rem;
    margin-bottom: var(--spc-mid);
    margin-left: auto;
    margin-right: auto;
    width: 21.25rem;
}