.footer {
    margin-top: var(--spc-lg);
    margin-left: calc(var(--spc-margin) * -1);
    margin-right: 0;
    margin-bottom: 0;
    background-color: var(--color-light-30);
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

@media (min-width: 768px) {
    .footer {
        margin-left: calc(var(--margin) * -1);
    }
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: var(--spc-m) 0;
    padding-top: var(--spc-mid);
    text-align: center;
}

.footer__item {
    font-family: var(--font-family-title);
    font-size: var(--font-height-h3);
    color: var(--color-light);
    text-decoration: none;
    padding-bottom: var(--spc-s);
}

.footer__link {
    color: var(--color-light);
    text-decoration: none;
}

.footer__ccl {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--font-height-lgd);
    padding-bottom: 10px;
}

.footer__link--ext {
    color: var(--color-light);
    text-decoration: underline;
}