.form {
    padding: 0 var(--margin);
    margin-bottom: var(--spc-mid);
}

.form__field {
    margin-bottom: var(--spc-s);
}

.form__label {
    display: block;
    color: var(--color-red);
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    margin-bottom: 0.5rem;
}

.form__input {
    width: 100%;
    height: 3.125rem;
    background-color: var(--color-light);
    border: none;
    border-radius: 0.625rem;
}

.form__textarea {
    width: 100%;
    height: 15.625rem;
    background-color: var(--color-light);
    border: none;
    border-radius: 0.625rem;
}

.form .CTA {
    margin-top: var(--spc-s);
}
