.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark);
    border-bottom: 1px solid var(--color-light-30);
    z-index: 100;
}

@media (min-width: 768px) {
    .header {
        height: 90px;
        padding: var(--margin) var(--margin);
    }
}

.header__logo {
    height: 40px;
    width: auto;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .header__logo {
        height: 50px;
    }
}

.menu-btn {
    position: relative;
    width: 28px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .menu-btn {
        width: 32px;
        height: 24px;
    }
}

.language-switcher {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .language-switcher {
        gap: 0.5rem;
        margin-right: 1.25rem;
        font-size: 1rem;
    }
}

.language {
    font-family: var(--font-family-title);
    color: var(--color-light);
    text-decoration: none;
}

.language-separator {
    color: var(--color-light);
}

.menu-btn__bar {
    background-color: var(--color-light);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.menu-btn__bar--top {
    top: 0;
}

.menu-btn__bar--middle {
    top: 9px;
}

.menu-btn__bar--bottom {
    top: 18px;
}

@media (min-width: 768px) {
    .menu-btn__bar--middle {
        top: 11px;
    }

    .menu-btn__bar--bottom {
        top: 22px;
    }
}
