.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark);
    border-bottom: 0.0625rem solid var(--color-light-30);
    z-index: 100;
}

.header__logo {
    height: 2.5rem;
    width: auto;
    flex-shrink: 0;
}

.menu-btn {
    position: relative;
    width: 1.75rem;
    height: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
}

.language-switcher {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: 0.75rem;
    font-size: 0.875rem;
    flex-shrink: 0;
}

.language {
    font-family: var(--font-family-title);
    color: var(--color-light);
    text-decoration: none;
}

.language-separator {
    color: var(--color-light);
}

.menu-btn__bar {
    background-color: var(--color-light);
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.menu-btn__bar--top {
    top: 0;
}

.menu-btn__bar--middle {
    top: 0.5625rem;
}

.menu-btn__bar--bottom {
    top: 1.125rem;
}