.home__hero {
    position: relative;
    min-height: 100vh;
    padding-top: 4.375rem;
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    overflow: hidden;
}

.hero__image-wrapper {
    position: absolute;
    top: 4.375rem;
    right: 0;
    width: 20.25rem;
    height: 29.9375rem;
    z-index: 1;
}

.hero__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16.5625rem 0 0 16.5625rem;
    display: block;
    z-index: 2;
}

.hero__shape-back {
    position: absolute;
    top: 0;
    left: -0.625rem;
    width: 18.6875rem;
    height: 23.0625rem;
    background-color: var(--color-red);
    border-radius: 16.5625rem 0 0 16.5625rem;
    z-index: -1;
}

.hero__title {
    position: relative;
    margin-top: 18.75rem;
    margin-bottom: 0;
    color: var(--color-red);
    z-index: 3;
    max-width: 60%;
    line-height: 1;
}

.hero__subtitle {
    position: relative;
    margin-top: 0.5rem;
    color: var(--color-light);
    z-index: 3;
    max-width: 60%;
}

.index__hero {
    position: relative;
    padding: var(--spc-mid) var(--margin);
    color: var(--color-dark);
    margin-bottom: var(--spc-mid);
}

.index__hero .glossary-highlight {
    color: var(--color-light);
}

.index__hero--title {
    position: relative;
    z-index: 1;
    max-width: 65%;
    margin-bottom: 0.1rem;
}

.index__hero--intro {
    position: relative;
    z-index: 1;
    max-width: 65%;
    margin-top: 0;
}

.index__hero--shape-back {
    position: absolute;
    top: 9em;
    left: 0;
    width: 75%;
    height: 24em;
    background-color: var(--color-red);
    border-radius: 0 18.75rem 18.75rem 0;
    z-index: -1;
}

.shape-back__glossary {
    position: absolute;
    top: 9em;
    left: 0;
    width: 75%;
    height: 9em;
    background-color: var(--color-red);
    border-radius: 0 18.75rem 18.75rem 0;
    z-index: -1;
}

.shape-back__plusMatilda {
    position: absolute;
    top: 9em;
    left: 0;
    width: 75%;
    height: 15em;
    background-color: var(--color-red);
    border-radius: 0 18.75rem 18.75rem 0;
    z-index: -1;
}

.circle__hero {
    position: relative;
    padding: var(--spc-mid) var(--margin);
    padding-top: 20rem;
    color: var(--color-dark);
    margin-bottom: var(--spc-mid);
}

.circle__hero--shape {
    position: absolute;
    top: 5rem;
    left: 3rem;
    width: 20rem;
    height: 20rem;
    background-color: var(--color-red);
    border-radius: 50%;
    z-index: -1;
}

.circle__hero--title {
    position: relative;
    z-index: 1;
    max-width: 65%;
    margin-bottom: 0.1rem;
}

.circle__hero--intro {
    color: var(--color-light);
    position: relative;
    z-index: 1;
    margin-top: 0;
}