.home__hero {
    position: relative;
    min-height: 100vh;
    padding-top: 70px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

@media (min-width: 768px) {
    .home__hero {
        padding-top: 90px;
    }
}

.hero__image-wrapper {
    position: absolute;
    top: 70px;
    right: 0;
    width: 324px;
    height: 479px;
    z-index: 1;
}

@media (min-width: 768px) {
    .hero__image-wrapper {
        top: 90px;
        right: 0;
        width: 312px;
        height: 599px;
    }
}

@media (min-width: 1024px) {
    .hero__image-wrapper {
        width: 380px;
        height: 718px;
    }
}

.hero__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 265px 0 0 265px;
    display: block;
    z-index: 2;
}

.hero__shape-back {
    position: absolute;
    top: 0;
    left: -10px;
    width: 299px;
    height: 369px;
    background-color: var(--color-red);
    border-radius: 265px 0 0 265px;
    z-index: -1;
}

@media (min-width: 768px) {
    .hero__shape-back {
        width: 337px;
        height: 462px;
        left: -15px;
    }
}

@media (min-width: 1024px) {
    .hero__shape-back {
        width: 411px;
        height: 554px;
        left: -20px;
    }
}

.hero__title {
    position: relative;
    margin-top: 400px;
    margin-bottom: 0;
    color: var(--color-red);
    z-index: 3;
    max-width: 60%;
    line-height: 1;
}

.hero__subtitle {
    position: relative;
    margin-top: 0.5rem;
    color: var(--color-light);
    z-index: 3;
    max-width: 60%;
}