.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark);
    z-index: 200;
    padding: var(--margin);
    overflow-y: auto;
}

.header__menu[hidden] {
    display: none;
}

.menu__background {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: var(--color-light-30);
    border-radius: 13.4375rem 13.4375rem 0 0;
    z-index: -1;
}

.menu-btn[aria-expanded="true"] {
    display: none;
}

.language-switcher:has(~ .menu-btn[aria-expanded="true"]) {
    display: none;
}

.menu-back {
    position: fixed;
    top: var(--margin);
    right: var(--margin);
    width: 3.375rem;
    height: 3.375rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 201;
    padding: 0;
}

.menu-back img {
    width: 100%;
    height: 100%;
}

.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spc-s);
    margin-left: var(--spc-s);
    margin-top: 15.625rem;
    z-index: 1;
}

.menu__item {
    padding: 0;
}

.menu__link {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h2);
    color: var(--color-light);
    text-decoration: none;
    display: block;
    padding: var(--spc-s);
}