.portrait {
    position: relative;
    padding-left: calc(1.875rem + 5rem);
    margin-left: 0.5625rem;
    margin-bottom: 4rem;
}

/* Container frise */
.portrait__frise {
    position: relative;
}

.portrait__arrow {
    position: absolute;
    left: 0.5625rem;
    top: 0;
    bottom: 0;
    width: 0.1875rem;
    background-color: var(--color-red);
    z-index: 1;
}

/*cercle flèche*/
.portrait__arrow::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--color-red);
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/*pointe flèche*/
.portrait__arrow::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0.5625rem solid transparent;
    border-right: 0.5625rem solid transparent;
    border-top: 1.125rem solid var(--color-red);
    transform: translateX(-50%);
    z-index: 2;
}

/*cercle de fond de l'img*/
.portrait::after {
    content: '';
    position: absolute;
    left: calc(1.875rem + 5rem + 3.125rem);
    top: 0;
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--color-red);
    border-radius: 50%;
    z-index: 0;
}

.portrait__date {
    font-size: var(--font-height-h3);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    position: absolute;
    left: 0.75rem;
    top: 6.25rem;
    transform: translateY(-50%);
    color: var(--color-red);
    padding-left: 1rem;
}

.portrait__ornement {
    position: absolute;
    left: 0.75rem;
    top: 6.25rem;
    transform: translateY(-50%);
    color: var(--color-red);
    white-space: nowrap;
    z-index: 2;
    padding-left: 6rem;
}

.portrait__image {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5rem;
    display: block;
    position: relative;
    z-index: 1;
}

.portrait__name {
    padding-top: 0.75rem;
    text-align: center;
    font-size: var(--font-height-h3);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    width: 12.5rem;
    margin-left: 5rem;
}

.portrait__description {
    position: relative;
    margin-top: 0.5rem;
    width: 12.5rem;
    margin-left: 5rem;
    font-size: var(--font-height-body);
    font-family: var(--font-family-body);
    line-height: 1.5;
    text-align: left;
}