.portrait__frise {
    position: relative;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: var(--spc-lg);
    overflow: hidden;
}

.portrait__arrow {
    position: absolute;
    left: 2rem;
    top: 0;
    bottom: 0;
    width: 0.1875rem;
    background-color: var(--color-red);
}

.portrait__arrow::after {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.75rem solid var(--color-red);
}

.portrait {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    margin-left: 5rem;
}

.portrait::before {
    content: '';
    position: absolute;
    left: -8rem;
    top: 7.5rem;
    width: 3rem;
    height: 0.1875rem;
    background-color: var(--color-red);
}

.portrait__image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    filter: grayscale(100%);
}

.portrait__ornement {
    position: absolute;
    left: -1.5rem;
    top: 0;
    width: 15rem;
    height: 15rem;
    background-color: var(--color-red);
    border-radius: 50%;
    z-index: 0;
}

.portrait__date {
    position: absolute;
    left: -4rem;
    top: 8rem;
    color: var(--color-red);
    font-family: var(--font-family-title);
    font-size: var(--font-height-h3);
    font-weight: var(--font-weight-bold);
    transform: rotate(-90deg);
    transform-origin: left center;
    white-space: nowrap;
    margin: 0;
}

.portrait__name {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--color-light);
    font-family: var(--font-family-title);
    font-size: var(--font-height-h3);
    font-weight: var(--font-weight-bold);
    text-align: left;
}

.portrait__description {
    margin: 0;
    max-width: 15rem;
    color: var(--color-light);
    text-align: left;
}