.redirection {
    text-align: center;
    margin-top: 100px;
    background-color: var(--color-light-30);
    border-radius: 110px;
    padding: var(--spc-s) var(--spc-s);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.redirection__link {
    margin: 0 20px;
    display: inline-block;
}