.redirection {
    text-align: center;
    margin-top: 6.25rem;
    background-color: var(--color-light-30);
    border-radius: 6.875rem;
    padding: var(--spc-s) var(--spc-s);
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
}

.redirection__link {
    margin: 0 1.25rem;
    display: inline-block;
}