.home__intro {
    padding-bottom: var(--spc-lg);
}

.home__intro--link {
    padding-bottom: var(--spc-s);
    display: flex;
}

.cardNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

