.CTA {
    display: block;
    width: fit-content;
    padding: 0.625rem 1.25rem;
    background-color: var(--color-red);
    color: var(--color-light);
    text-decoration: none;
    border-radius: 3.75rem;
    transition: background-color 0.3s;
    font-family: var(--font-family-title);
    font-size: var(--font-height-h3);
    line-height: var(--font-line-height-h3);
    font-weight: var(--font-weight-bold);
    margin: 0 auto var(--spc-s);
}

.CTA:hover {
    background-color: var(--color-light);
    color: var(--color-red);
}