.trailer {
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin-inline: auto;
}

.video__legend {
    margin-top: var(--spc-s);
    margin-bottom: 0.2rem;
    font-size: var(--font-height-lgd);
}

.article__video {
    width: 28rem;
    height: auto;
    box-shadow: 0 0.25rem 0.5rem hsl(0 0% 0% / 0.1);
}