/* Fonts */
@import "base/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";
@import "layout/hero.css";
@import "layout/menu.css";
@import "layout/redirection.css";
@import "layout/error-404.css";
@import "layout/seeMore.css";

/* Components */
@import "components/CTA.css";
@import "components/card.css";
@import "components/ancre.css";